RESEND_API_KEY=re_1234567890abcdef
HR_EMAIL=vishnugadekar1132@gmail.com
PORT=3000

# MongoDB Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/energize_db?retryWrites=true&w=majority
